<!-- Codon name, Start and Stop codons -->
<%- show_codons = (@opts[:same_as_codon_table] && @opts[:codon_table] == table_num) %>
<div class="<%= name %>">

<%- codon_table = (name == "start" ? Bio::CodonTable[table_num].start : Bio::CodonTable[table_num].stop)  %>

<%- codon_table.each do |codon|  %>
  <%= sequence_field_tag("#{name}[#{DateTime.now.strftime('%Q')}#{DateTime.now.strftime('%12N')}]",
                         codon.to_s, # value
                         false, # template
                         [table_num], #"class_names"
                         table_name, # title
                         true) # disabled
   %>
<%- end  %>
</div>
