<div>
  <h1>ORF-Finder Webbapp</h1>
  <p>ORF-Finder is a library that finds the longest Open Reading Frame (ORF) from a nucleotide sequence.</p>

  <p>It will search the sequence for existing start and stop codons and return a single ORF for each frame.</p>

  <p>When there is not a ORF present with any of the configurated start and stop codons, then it fallbacks to:</p>
  <ul>
    <li>Using the first codon of the sequence when:</li>
    <ul>
      <li>No start codon is present;</li>
      <li>The lenght of an ORF is shorter than the minimum option;</li>
    </ul>
    <li>Using the last codon of the sequence when:</li>
    <ul><li>No stop codon is present.</li></ul>
  </ul>
  <p>The source code of the ORF-Finder library is at github under <a target="_blank" href="http://github.com/averissimo/orf_finder">averissimo/orf_finder</a>.</p>
</div>

<div>
  <%= render 'form' %>
</div>

<div id="results">
  <%- if @results %>
    <%= render 'search_results' %>
  <%- end  %>
</div>

<h2>Ackowledgements</h2>
<p>This tool was created as a part of <a href="http://fct.pt" target="_blank">FCT</a> grant SFRH/BD/97415/2013 and European Commission research project <a href="http://bachberry.eu" target="_blank">BacHBerry</a> (FP7- 613793)</p>
<p>Icons Created by <a href="https://thenounproject.com/nazlı" target="_blank">Ezgi Nazlı</a> from <a href="https://thenounproject.com" target="_blank">The Noun Project</a></p>
