<div>
  <h1>ORF Finder App</h1>
  <p>ORF-Finder is a library that finds the longest Open Reading Frame (ORF) from a nucleotide sequence.</p>

  <p>It will search the sequence for existing start and stop codons and return the longest ORF for each frame (if there multiple with the same size, then all are shown).</p>

  <p>The source code of the ORF-Finder library is at github under <a target="_blank" href="http://github.com/averissimo/orf_finder">averissimo/orf_finder</a>.</p>
</div>

<div>
  <%= render 'form' %>
</div>

<h2 class="gray no-bold">Results</h2>
<div id="results">
  <%- if @results %>
    <%= render 'search_results' %>
  <%- else %>
  <p class="gray no-results">Submit form above to see results</p>
  <%- end  %>
</div>

<h2>Ackowledgements</h2>
<p>This tool was created as a part of <a href="http://fct.pt" target="_blank">FCT</a> grant SFRH/BD/97415/2013 and European Commission research project <a href="http://bachberry.eu" target="_blank">BacHBerry</a> (FP7- 613793)</p>

<h2>How does it work?</h2>

<p>It searches the sequence for existing <em>start</em> and <em>stop</em> codons and return a single ORF for each frame.</p>

<p>When there is not an ORF present with any of the configurated start and stop codons, then it fallbacks to:</p>
<ul>
  <li>Using the first codon of the sequence when:</li>
  <ul>
    <li>No start codon is present;</li>
    <li>The lenght of an ORF is shorter than the minimum option;</li>
  </ul>
  <li>Using the last codon of the sequence when:</li>
  <ul><li>No stop codon is present.</li></ul>
</ul>
